## **Data Wrangling**

### 1. Load the Dataset

In [121]:
# Import necessary libraries
import pandas as pd
import numpy as np

# Load the Stack Overflow survey data
dataset_url = "./data/survey_data_with_duplicate.csv"
df = pd.read_csv(dataset_url)

# Display the first few rows
df.head()

,ResponseId,MainBranch,Age,Employment,RemoteWork,Check,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,...,JobSatPoints_6,JobSatPoints_7,JobSatPoints_8,JobSatPoints_9,JobSatPoints_10,JobSatPoints_11,SurveyLength,SurveyEase,ConvertedCompYearly,JobSat
0,1,I am a developer by profession,Under 18 years old,"Employed, full-time",Remote,Apples,Hobby,Primary/elementary school,Books / Physical media,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,I am a developer by profession,35-44 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects;Other...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Colleague;On the job tr...,Technical documentation;Blogs;Books;Written Tu...,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
2,3,I am a developer by profession,45-54 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects;Other...,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Colleague;On the job tr...,Technical documentation;Blogs;Books;Written Tu...,...,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN,NaN
3,4,I am learning to code,18-24 years old,"Student, full-time",NaN,Apples,NaN,Some college/university study without earning ...,"Other online resources (e.g., videos, blogs, f...",Stack Overflow;How-to videos;Interactive tutorial,...,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Easy,NaN,NaN
4,5,I am a developer by profession,18-24 years old,"Student, full-time",NaN,Apples,NaN,"Secondary school (e.g. American high school, G...","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Written Tutorial...,...,NaN,NaN,NaN,NaN,NaN,NaN,Too short,Easy,NaN,NaN

#### 2. Explore the Dataset

In [122]:
df.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65457 entries, 0 to 65456
Data columns (total 114 columns):
 #    Column                          Non-Null Count  Dtype
---   ------                          --------------  -----
 0    ResponseId                      65457 non-null  int64
 1    MainBranch                      65457 non-null  object
 2    Age                             65457 non-null  object
 3    Employment                      65457 non-null  object
 4    RemoteWork                      54820 non-null  object
 5    Check                           65457 non-null  object
 6    CodingActivities                54480 non-null  object
 7    EdLevel                         60803 non-null  object
 8    LearnCode                       60507 non-null  object
 9    LearnCodeOnline                 49251 non-null  object
 10   TechDoc                         40907 non-null  object
 11   YearsCode                       59887 non-null  object
 12   YearsCodePro                    51623 non-null  object
 13   DevType                         59463 non-null  object
 14   OrgSize                         47488 non-null  object
 15   PurchaseInfluence               47414 non-null  object
 16   BuyNewTool                      45188 non-null  object
 17   BuildvsBuy                      43366 non-null  object
 18   TechEndorse                     43675 non-null  object
 19   Country                         58949 non-null  object
 20   Currency                        46692 non-null  object
 21   CompTotal                       33744 non-null  float64
 22   LanguageHaveWorkedWith          59763 non-null  object
 23   LanguageWantToWorkWith          55769 non-null  object
 24   LanguageAdmired                 50888 non-null  object
 25   DatabaseHaveWorkedWith          50269 non-null  object
 26   DatabaseWantToWorkWith          42571 non-null  object
 27   DatabaseAdmired                 38570 non-null  object
 28   PlatformHaveWorkedWith          42378 non-null  object
 29   PlatformWantToWorkWith          34543 non-null  object
 30   PlatformAdmired                 31388 non-null  object
 31   WebframeHaveWorkedWith          45171 non-null  object
 32   WebframeWantToWorkWith          38544 non-null  object
 33   WebframeAdmired                 34952 non-null  object
 34   EmbeddedHaveWorkedWith          22221 non-null  object
 35   EmbeddedWantToWorkWith          17606 non-null  object
 36   EmbeddedAdmired                 16739 non-null  object
 37   MiscTechHaveWorkedWith          39450 non-null  object
 38   MiscTechWantToWorkWith          32969 non-null  object
 39   MiscTechAdmired                 29601 non-null  object
 40   ToolsTechHaveWorkedWith         52497 non-null  object
 41   ToolsTechWantToWorkWith         46098 non-null  object
 42   ToolsTechAdmired                44011 non-null  object
 43   NEWCollabToolsHaveWorkedWith    57609 non-null  object
 44   NEWCollabToolsWantToWorkWith    52103 non-null  object
 45   NEWCollabToolsAdmired           50727 non-null  object
 46   OpSysPersonal use               58190 non-null  object
 47   OpSysProfessional use           52986 non-null  object
 48   OfficeStackAsyncHaveWorkedWith  48103 non-null  object
 49   OfficeStackAsyncWantToWorkWith  38973 non-null  object
 50   OfficeStackAsyncAdmired         37210 non-null  object
 51   OfficeStackSyncHaveWorkedWith   55561 non-null  object
 52   OfficeStackSyncWantToWorkWith   46724 non-null  object
 53   OfficeStackSyncAdmired          44725 non-null  object
 54   AISearchDevHaveWorkedWith       44460 non-null  object
 55   AISearchDevWantToWorkWith       36708 non-null  object
 56   AISearchDevAdmired              35550 non-null  object
 57   NEWSOSites                      60306 non-null  object
 58   SOVisitFreq                     59555 non-null  object
 59   SOAccount                       59579 non-null  object
 60   SOPartFreq                      45251 non-null  object
 61   SOHow                           58980 non-null  object
 62   SOComm                          59181 non-null  object
 63   AISelect                        60926 non-null  object
 64   AISent                          45883 non-null  object
 65   AIBen                           36902 non-null  object
 66   AIAcc                           37309 non-null  object
 67   AIComplex                       37028 non-null  object
 68   AIToolCurrently Using           35079 non-null  object
 69   AIToolInterested in Using       30697 non-null  object
 70   AIToolNot interested in Using   24417 non-null  object
 71   AINextMuch more integrated      13439 non-null  object
 72   AINextNo change                 12502 non-null  object
 73   AINextMore integrated           24431 non-null  object
 74   AINextLess integrated           2355 non-null   object
 75   AINextMuch less integrated      1148 non-null   object
 76   AIThreat                        44698 non-null  object
 77   AIEthics                        41556 non-null  object
 78   AIChallenges                    37536 non-null  object
 79   TBranch                         44490 non-null  object
 80   ICorPM                          29807 non-null  object
 81   WorkExp                         29664 non-null  float64
 82   Knowledge_1                     28669 non-null  object
 83   Knowledge_2                     28026 non-null  object
 84   Knowledge_3                     28100 non-null  object
 85   Knowledge_4                     28035 non-null  object
 86   Knowledge_5                     27885 non-null  object
 87   Knowledge_6                     27869 non-null  object
 88   Knowledge_7                     27783 non-null  object
 89   Knowledge_8                     27763 non-null  object
 90   Knowledge_9                     27640 non-null  object
 91   Frequency_1                     28374 non-null  object
 92   Frequency_2                     28369 non-null  object
 93   Frequency_3                     27715 non-null  object
 94   TimeSearching                   28916 non-null  object
 95   TimeAnswering                   28849 non-null  object
 96   Frustration                     28255 non-null  object
 97   ProfessionalTech                27768 non-null  object
 98   ProfessionalCloud               28496 non-null  object
 99   ProfessionalQuestion            28812 non-null  object
 100  Industry                        28863 non-null  object
 101  JobSatPoints_1                  29330 non-null  float64
 102  JobSatPoints_4                  29399 non-null  float64
 103  JobSatPoints_5                  29417 non-null  float64
 104  JobSatPoints_6                  29456 non-null  float64
 105  JobSatPoints_7                  29454 non-null  float64
 106  JobSatPoints_8                  29462 non-null  float64
 107  JobSatPoints_9                  29462 non-null  float64
 108  JobSatPoints_10                 29456 non-null  float64
 109  JobSatPoints_11                 29451 non-null  float64
 110  SurveyLength                    56198 non-null  object
 111  SurveyEase                      56255 non-null  object
 112  ConvertedCompYearly             23437 non-null  float64
 113  JobSat                          29131 non-null  float64
dtypes: float64(13), int64(1), object(100)
memory usage: 56.9+ MB

In [123]:
df.describe()

,ResponseId,CompTotal,WorkExp,JobSatPoints_1,JobSatPoints_4,JobSatPoints_5,JobSatPoints_6,JobSatPoints_7,JobSatPoints_8,JobSatPoints_9,JobSatPoints_10,JobSatPoints_11,ConvertedCompYearly,JobSat
count,65457.000000,3.374400e+04,29664.000000,29330.000000,29399.000000,29417.000000,29456.000000,29454.000000,29462.000000,29462.000000,29456.000000,29451.000000,2.343700e+04,29131.000000
mean,32714.493591,2.963490e+145,11.466323,18.578998,7.520604,10.059485,24.339971,22.964277,20.279127,16.167837,10.953481,9.953618,8.615893e+04,6.934915
std,18892.431636,5.443794e+147,9.168205,25.965347,18.421094,21.831924,27.088870,27.017634,26.110706,24.844177,22.904463,21.775070,1.867532e+05,2.088356
min,1.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000e+00,0.000000
25%,16354.000000,6.000000e+04,4.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.271200e+04,6.000000
50%,32716.000000,1.100000e+05,9.000000,10.000000,0.000000,0.000000,20.000000,15.000000,10.000000,5.000000,0.000000,0.000000,6.500000e+04,7.000000
75%,49076.000000,2.500000e+05,16.000000,22.000000,5.000000,10.000000,30.000000,30.000000,25.000000,20.000000,10.000000,10.000000,1.080000e+05,8.000000
max,65437.000000,1.000000e+150,50.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,1.625660e+07,10.000000

### 3. Identifying and Removing Inconsistencies

In [124]:
country_mapping =  {
    'Iran, Islamic Republic of...': 'Iran',
    'Venezuela, Bolivarian Republic of...': 'Venezuela',
    'United Kingdom of Great Britain and Northern Ireland': 'United Kingdom',
    'North Korea': "Democratic People's Republic of Korea",
    'Hong Kong (S.A.R.)': 'China',
    'Congo, Republic of the...': 'Democratic Republic of the Congo',
    'Viet Nam': 'Vietnam'
}

edu_mapping = {
    "Bachelor’s degree (B.A., B.S., B.Eng., etc.)": "Bachelor’s degree",
    "Master’s degree (M.A., M.S., M.Eng., MBA, etc.)": "Master’s degree",
    "Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.)": "Secondary school",
    "Professional degree (JD, MD, Ph.D, Ed.D, etc.)": "Professional degree",
    "Associate degree (A.A., A.S., etc.)": "Associate degree",
    "Something else": np.nan
}

In [125]:
df['Country'] = df['Country'].replace(country_mapping)
df['EdLevel'] = df['EdLevel'].replace(edu_mapping)

### 4. Encoding Categorical Variables

In [126]:
df_one_hot = pd.concat([df, pd.get_dummies(df['Employment'])], axis=1)

### 5. Handling Missing Values

In [127]:
print('Ratio of missing values: ')
missing_ratio = (df.isna().sum() / len(df)).sort_values(ascending=False)
missing_ratio

Ratio of missing values:

AINextMuch less integrated    0.982462
AINextLess integrated         0.964022
AINextNo change               0.809004
AINextMuch more integrated    0.794690
EmbeddedAdmired               0.744275
                                ...
MainBranch                    0.000000
Check                         0.000000
Employment                    0.000000
Age                           0.000000
ResponseId                    0.000000
Length: 114, dtype: float64

In [128]:
for col in missing_ratio.index:
    if df[col].dtype == 'object':               # For Categorical columns
        mode_value = df[col].mode()[0]          # Get the mode
        df[col] = df[col].fillna(mode_value)
    else:                                       # For Numerical columns
        median_value = df[col].median()         # Get the median
        df[col] = df[col].fillna(median_value)

print("Missing values imputed.")

Missing values imputed.

### 6. Feature Scaling and Transformation

In [129]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
df['ConvertedCompYearly'] = scaler.fit_transform(X=df[['ConvertedCompYearly']])

In [130]:
df['ConvertedCompYearly'] = np.log1p(df['ConvertedCompYearly'])

### 7. Feature Engineering

In [132]:
def experience_level(years):
    if years in ['Less than 1 year', '1', '2']:
        return 'Beginner'
    elif years == 'More than 50 years' or int(years) > 30:
        return 'Veteran'
    elif int(years) in range(3,6):
        return 'Junior'
    elif int(years) in range(6, 11):
        return 'Mid-Level'
    elif int(years) in range(11, 21):
        return 'Senior'
    elif int(years) in range(21, 31):
        return 'Expert'
    else:
        return np.nan 
    
experience_series = df['YearsCodePro'].astype(str).map(experience_level)
df = pd.concat([df, experience_series.rename('ExperienceLevel')], axis=1)

In [133]:
df[['ExperienceLevel', 'YearsCodePro']]

      ExperienceLevel YearsCodePro
0            Beginner            2
1              Senior           17
2              Expert           27
3            Beginner            2
4            Beginner            2
...               ...          ...
65452        Beginner            2
65453          Junior            3
65454          Senior           12
65455       Mid-Level           10
65456         Veteran           45

[65457 rows x 2 columns]